img {
    width: 350px;
    height: 500px;
    margin: 0.5em 0;
}

#list-films {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

#page {
    display: flex;
    justify-content: center;
}